div.all {
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-evenly;
  gap: 10px;
}

div.container {
  justify-self: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.tiga:active {
  background-color: green;
}

.enam:active {
  background-color: yellow;
}

.lima:active {
  background-color: blue;
}

.satu:active {
  background-color: pink;
}

.dua:active {
  background-color: black;
}

.empat:active {
  background-color: red;
}

.satu {
  background-color: red;
}

.dua {
  background-color: green;
}

.tiga {
  background-color: yellow;
}

.empat {
  background-color: blue;
}

.lima {
  background-color: pink;
}

.enam {
  background-color: black;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5em 1.25em;
  justify-self: center;
  align-self: center;
  background-color: rgb(219, 219, 219);
  border: 0.5px solid black;
}

a:hover {
  opacity: 0.5;
}
